.CourseCardContainer{
    /* border: 2px solid green; */
    border-radius: 20px;
    width: 50vh;
    justify-content: center;
    height: 45vh;
    display: flex;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.342)  ; */
    /* border: 2px solid rgb(70, 70, 70); */

    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.205);
    /* transform: translateY(-5px); */
}