.VerticalNavContainer {
    border: 1px rgba(255, 255, 255, 0) solid;
    position: relative;
    min-width: 60px; /* Collapsed width */
    max-width: 200px; /* Expanded width */
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    height: 100vh; /* Full viewport height */
    color: white;
    display: flex; /* Enable vertical alignment */
    flex-direction: column; /* Align items vertically */
    transition: all 0.3s ease-in-out; /* Smooth transition for width */
    overflow: hidden;
    
}

.Header {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 22px;
    display: flex;
    text-overflow: clip;
    position: absolute;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.VerticalNavMenu {
    margin-top: 20px; /* Space between header and menu */
    flex-grow: 1; /* Allow menu to take up remaining space */
    display: flex;
    flex-direction: column; /* Arrange menu items vertically */
}

.VerticalNavMenu ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
}

.VerticalNavMenu ul li {
    width: 100%;
    position: absolute;
    margin: 10px;
}

.VerticalNavMenu a {
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white; /* Ensure text is visible */
    transition: background-color 0.3s ease-in-out; /* Smooth hover */
}

.VerticalNavMenu a:hover {
    background-color: rgb(35, 35, 35);
    cursor: pointer;
}

.VerticalNavContainer:hover {
    min-width: 200px; /* Expands to full width on hover */
}
